{% extends "layout.html" %}


{% block content %}
<h4>About Toronto Walks</h4>
<p>TorontoWalks was created as my capstone project for the Data Science Immersive program at Bitmaker/ General Assembly.  I love exploring new areas of the city and hope that this site encourages others to discover something new about Toronto!</p>
<p>TorontoWalks is currently in beta testing.  If you notice any bugs, have any questions or suggestions, please drop me an email
<a href="mailto:dataexplorations@outlook.com?subject=Feedback on TorontoWalks">dataexplorations@outlook.com</a></p>

<p>The points of interest included in this site were gathered from:
  <ul>
    <li><a href="http://www.acotoronto.ca/tobuilt_new_detailed.php" target="_new">ACOToronto WebSite</a></li>
    <li><a href="http://torontoplaques.com/Menu_Subjects.html" target="_new">Toronto Plaques</a></li>
    <li><a href="http://www.cabbagetownpeople.ca/biographies/plaquees/" target="_new">Cabbagetown People</a></li>
    <li><a href="https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#86b0f307-216b-3fe1-4653-c32ed9b6bf5c" target="_new">Toronto Public Art (City of Toronto Open Data)</a></li>
  </ul>
</p>

{% endblock %}
