{% extends "layout.html" %}

{% block content %}

<h1>Welcome to TorontoWalks!</h1>
<h5>Ready to explore Toronto?  Let us generate a custom walking route for you!</h5>

    <form action="{{url_for('result')}}" method="POST">
      <h6>Tell us about the types of stops you'd like to discover:</h6>
      <!-- <small id="profileHelp" class="form-text text-muted">This will help our walk bot generate a custom walk just for you.</small> -->

      <div class="form-group">
        <label for="user_profile">Stop Type:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkboxBuilding" value="poi_type_simple_Building">
          <label class="form-check-label" for="inlineCheckbox1">Buildings/Architecture</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkboxPlaque" value="poi_type_simple_Plaque">
          <label class="form-check-label" for="inlineCheckbox2">Historical Plaques</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkboxArt" value="poi_type_simple_Art">
          <label class="form-check-label" for="inlineCheckbox3">Public Art</label>
        </div>
      </div>
      <!-- <h6>I'm interested in history from the:</h6> -->
      <div class="form-group">
        <label for="user_profile">Historical period:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkbox1700" value="build_century_1700.0">
          <label class="form-check-label" for="checkbox1700">1700s</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkbox1800" value="build_century_1800.0">
          <label class="form-check-label" for="checkbox1800">1800s</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests" id="checkbox1900" value="build_century_1900.0">
          <label class="form-check-label" for="checkbox1900">1900s</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="user_interests"  id="checkbox2000" value="build_century_2000.0">
          <label class="form-check-label" for="checkbox2000">2000s</label>
        </div>
      </div>
      <!-- <small id="profileHelp" class="form-text text-muted">This will help our walk bot generate a custom walk just for you.</small> -->
      <div class="form-group">
          <label for="duration">Interests (i.e. a topic, architectural style):</label>
          <input class="form-control form-control-sm" type="text"  id="pref" name="pref">
          <input hidden name="latitude" id="latitude" value="43.647273"/>
          <input  hidden name="longitude" id="longitude" value ="-79.386560" />
          <!-- <small id="prefHelp" class="form-text text-muted">Approximately how long would you like your walk to last?</small> -->
        </div>
        <div class="form-group">
            <label for="duration">Walk Duration:</label>
            <select id="duration" name="duration" class="form-control form-control-sm">
              <option value="0.5" selected="selected">30 mins</option>
              <option value="1">60 minutes</option>
              <option value="1.5">90 Minutes</option>
              <option value="2">120 minutes</option>
            </select>
            <!-- <small id="durationHelp" class="form-text text-muted">Approximately how long would you like your walk to last?</small> -->
          </div>

          <!-- <div class="form-group">
              <label for="duration">Click anywhere on the map below to set your starting point</label>
              <input hidden name="latitude" id="latitude" value="43.647273"/>
              <input  hidden name="longitude" id="longitude" value ="-79.386560" />
            </div> -->
            <h6>Click anywhere on the map below to set your starting point</h6>
            <button type="submit" class="btn btn-success">Create my walk!</button>
      <!-- <p><input type="submit" value="Submit" /></p> -->
    </form>


    <div id="map"></div>
    <script>
      var map;
       var markers = [];
      // Adds a marker to the map.
      function addMarker(location, map) {
          // Add the marker at the clicked location, and add the next-available label
          // from the array of alphabetical characters.
          //  marker.setMap(null);
          clearMarkers();
          var marker = new google.maps.Marker({
            position: location,
            label: "Starting Point",
            label: 'Start',
            map: map
          });
          markers.push(marker)
        //  alert(marker.position)
      }

      // Sets the map on all markers in the array.
     function setMapOnAll(map) {
       for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(map);
       }
     }

     // Removes the markers from the map, but keeps them in the array.
     function clearMarkers() {
       setMapOnAll(null);
     }


      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.647273, lng: -79.386560},
          zoom: 14
        });
    // var myLatLng = {lat: {{starting_lat}}, lng:{{starting_long}}};
        var marker = new google.maps.Marker({
          position: {lat: 43.647273, lng: -79.386560},
          map: map,
          title: 'Starting Point',
          label: 'Start',
          draggable:true
        });
        markers.push(marker)
        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
            addMarker(event.latLng, map);
            $("#latitude").val(event.latLng.lat().toFixed(6));
            $("#longitude").val(event.latLng.lng().toFixed(6));
        });

        // // adds a listener to the marker
        //    // gets the coords when drag event ends
        //    // then updates the input with the new coords
        //    google.maps.event.addListener(vMarker, 'dragend', function (evt) {
        //        $("#txtLat").val(evt.latLng.lat().toFixed(6));
        //        $("#txtLng").val(evt.latLng.lng().toFixed(6));
        //
        //        map.panTo(evt.latLng);
        //    });
        //


      }
    </script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initMap"
    async defer></script>
{% endblock %}
