beautifulsoup4==4.6.3
Flask==1.0.2
Flask-SQLAlchemy==2.0
folium==0.6.0
geopy==1.17.0
geocoder==1.38.1
googlemaps==3.0.2
gunicorn==19.3.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==0.23
numpy==1.15.1
ortools==6.10.6025
pandas==0.23.4
python-dotenv==0.9.1
psycopg2==2.7.6.1
scipy==1.1.0
scikit-learn==0.20.0
seaborn==0.9.0
sklearn-pandas==1.7.0
statsmodels==0.9.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
vega==1.4.0
uWSGI==2.0.17.1